<!-- текстовый контент -->
<div class="card_content">

    <div class="text_content">
      <h1>Heading</h1>
      <p>Subheading</p>
    </div>
    
    <div class="cards">
        <app-icon1></app-icon1>
        <app-icon1></app-icon1>
        <app-icon1></app-icon1>
    </div>
  </div>

  <!-- второй текстовый контент -->
  <div class="card_content">

    <div class="text_content">
      <h1>Heading</h1>
      <p>Subheading</p>
    </div>
    
    <div class="cards2">
        <app-icon2></app-icon2>
        <app-icon2></app-icon2>
        <app-icon2></app-icon2>
        <app-icon2></app-icon2>
        <app-icon2></app-icon2>
        <app-icon2></app-icon2>
        <app-icon2></app-icon2>
        <app-icon2></app-icon2>
        <app-icon2></app-icon2>

    </div>
  </div>
  <!-- футер -->
  <div class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Use cases</h3>
        <ul>
          <li><a href="#">UI design</a></li>
          <li><a href="#">UX design</a></li>
          <li><a href="#">Wireframing</a></li>
          <li><a href="#">Diagramming</a></li>
          <li><a href="#">Brainstorming</a></li>
          <li><a href="#">Online whiteboard</a></li>
          <li><a href="#">Team collaboration</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h3>Explore</h3>
        <ul>
          <li><a href="#">Design</a></li>
          <li><a href="#">Prototyping</a></li>
          <li><a href="#">Development features</a></li>
          <li><a href="#">Design systems</a></li>
          <li><a href="#">Collaboration features</a></li>
          <li><a href="#">Design process</a></li>
          <li><a href="#">FigJam</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Best practices</a></li>
          <li><a href="#">Colors</a></li>
          <li><a href="#">Color wheel</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Resource library</a></li>
        </ul>
      </div>
    </div>
</div>
<router-outlet/>
