html, body {
    height: 100%; /* Убедитесь, что страница занимает всю высоту */
    margin: 0;
    padding: 0;
    flex: 1; /* Это заставит основной контент занять всю оставшуюся высоту */
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(0, 23, 68);
  background-color: #d1e6ff;
  }
 
